# Python environment
.venv/
venv/
env/
bin/
lib/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data & Local testing
*.xlsx
*.csv
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db

# Environment variables (Sensitive info)
.env